form > input,
form > label {
    display: block;
    width: 100%;
}

input,
textarea {
    margin-bottom: 20px;
}


.card {
    min-width: 300px;
    background-color: lightgrey;
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.15);
    border-radius: 30px;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
}